* {
  padding: 0;
  margin: 0;
}

.fixed_container {
  position:fixed; left: 0; bottom: 0; width: 100%; margin: 0; height: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: none;
  align-items: center;
}

#prompt {
  padding: 2em;
  font-size: 3em;
  font-weight: bolder;
  pointer-events: all;

}

.watermark {
  position:fixed; left: 0; top: 32px; width: 100%; margin: 0;
  height: 4%;
  width: 100%;
  margin: auto;
  background-image: url("/img/cogment_logo_white.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.75;
}

#score {
  position:fixed;
  top: 2em;
  width: 100%;
  text-align: center;
  opacity: 0.9;
  font-family: sans-serif;
}

.biglabel {
  user-select: none;
  pointer-events: none;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 32pt;
  color: #FFB400;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

body {
  background-color: lightgrey;
}

#game_canvas {
  border: 2px solid black;
  margin-right: auto;
  margin-left: auto;
  display: block;
  background-color: olivedrab;
} 
